* , *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
.header{
    padding: 0 15px;
    background-color: #fff;
	height: 86px;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}
.logo-menu{
    display: none ;
    /* position: absolute;
    top: 18px;
    left: 30px;
     */
	 border: none;
    background-color: transparent;
    width: 30px;

}
.sneakers{
	margin-left: 1vw;
}
nav{
    border-bottom: solid 1px rgba(0, 0, 0, 0.436);
	height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: #fff;
	align-items: center;
}
.nav-link{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
	align-items: center;
	height: 100%;
	margin-left: 4vw;
}
.nav-link ul{
	height: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
	align-items: center;
}
.nav-link ul li{
    margin: 0px 20px;
	height: 100%;
}
.nav-link ul li a{
	height: 100%;
    font-size: 18px;
    font-weight: bold;
	display: flex;
	align-items: center;
	color: hsl(220, 14%, 50%);	
}

.nav-link ul li a:hover{
	border-bottom: solid 5px hsl(26, 100%, 55%);
	color: #000;
}

.cart-pseudo{ 
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.cart-pseudo div{
    width: 30px;
}
.cart-pseudo button{
    width: 25px;
    background-color: transparent;
    border: none;
    margin-right: 20px;   
}
.close{
    position: absolute;
    top: 30px;
    left: 40px;
    display: none;

}
.n.active{
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.container-img .slider{
    display: flex;
    overflow: hidden;
    max-width: 1000px;
    position: relative;
}
.slider_img{
    display: flex;
    overflow: hidden;
    max-width: 1000px;
    
}
.slider_img img{
    max-width: 1000px;
    display: none;
    
}
.slider_img img.active{
display: block;

}
 .btn-slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:50px;
    padding: 5px ;
    border-radius: 50%;
	cursor: pointer;
}
.btn-slider button img{
     padding: 5px 8px;
}
.container-img .btn-slider .btn-next{
    right:  20px;
}
.container-img .btn-slider .btn-prev{
    left:  20px;
}

.img-small{
    display: none;
}
.container-info{
    padding: 50px 20px;
}
.nameCompany{
    font-size: 1.3rem;
    color: hsl(26, 100%, 55%);
}
.cart-menu{
    display: none;
}
.cart-menu.active{
    display: block;
    position: absolute;
    top: 70px;
    width: 90%;
	min-height: 350px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	z-index: 18;
	margin: 0 auto;
	margin-left: 25px;
	
}
.cart-menu .cart-menu-body {
    padding: 0 10px;
}
.cart-menu .cart-menu-body p.empty {
	text-align: center;
	font-size: 1.5rem;
	
}
.cart-menu .cart-menu-body .btn-checkout{
	display: none;
}


.cart-menu .cart-menu-title{
    padding-left:15px ;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cart-menu .cart-menu-title::after{
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
    margin-top: 20px;
}
.cart-menu li{
    position: relative;
    list-style-type:none ;
    margin-bottom: 10px ;

}
.cart-menu .cart-menu-img{
    position: absolute;
    width: 50px;
    top: 10px;
    left: 5px;
}
.cart-menu .cart-menu-img img{
    border-radius: 5px;
}
.cart-menu .cart-menu-desc{
    margin-left: 60px;
    padding-top: 8px ;
}
.cart-menu .cart-menu-desc h4{
    color: hsl(220, 14%, 75%);
}
.cart-menu  .btn-delete{
    width: 15px;
    position: absolute;
    right: 4px;
    background-color: transparent;
    top: 0px;
}

.cart-menu button{
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    padding: 10px 0;
    color: #fff;
}
.container-info .title{
    margin: 15px 0;
    font-size: 2.1rem;
    max-width: 400px;
}
.container-info .body{
    max-width: 350px;
    margin-bottom: 25px;
}
.total-price{
    width: 100%;
}
.total-price .price{
    font-size: 2.1rem;
    margin-right: 15px;
}
.total-price .reduct{
    font-size: 1.5rem;
    margin-right: 15px;
    background-color: hsl(25, 100%, 94%);
}
.total-price .FalsePrice{
    float: right ;
    font-size: 1.5rem;
    color: hsl(220, 14%, 75%);
    text-decoration:line-through;
}

.conpteur .nbr{
    position: relative;
    width: 100%;
}
.conpteur .nbr .number{
    width: 100%;
    padding: 30px 0 ;
    text-align: center;
    border: solid 1px rgba(204, 204, 215, 0.1);
    background-color:  rgba(204, 204, 215, 0.1);
    border-radius: 10px;
}
.conpteur .nbr button{
    position: absolute;
    width: 25px;
    background-color: transparent;
    border: none;
    transition: all .3s;
	cursor: pointer;
}
.conpteur .nbr button:hover{
    transform: scale(1.1);
}
.conpteur .nbr button:focus{
    transform: scale(0.9);
}
.btn-moins{
    top: 35px ;
    left: 18px;
}
.btn-plus{
    top: 30px ;
    right: 18px;
}
.conpteur  .add-btn-cart {
    width: 100%; 
    background-color: hsl(26, 100%, 55%);
    padding: 25px 0;
    border-radius: 10px;
    border: solid 1px hsl(26, 100%, 55%);
    color: #fff;
    font-size: 1.8rem;
    transition: all .3s;
}
.conpteur  .add-btn-cart:hover{
    transform: scale(0.9);
	opacity: .7;
	cursor: pointer;
}
.conpteur  .add-btn-cart img {
    width: 30px;
    display: inline-block;
    margin-right: 5px; 
}
.show-img{
    display: block;
	width: 400px;
	height: 400px;
	margin-bottom: 25px;
}
.container-img .show-img{
	display: none;
}
.lightbox{
	display: none;
}
.lightbox.active{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 30;
}
.lightbox .show-img{
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.lightbox .btn-slider .btn-next{	
	left: 380px;
	cursor: pointer;
}
.lightbox .btn-slider .btn-prev{
	right: 380px;
}
.lightbox .slider{
	display: block;
	position: relative;
	margin: 40px 0 20px 0 ;
}

.btn-close-lightbox{
	padding: 8px ;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;

}
.lightbox-show-img{
	max-width: 392px;
	max-height: 392px;
}

@media only screen and (max-width:735px) {
    
    .nav-link{
        background-color: #fff;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0;
        align-items: normal;
        left: 0;
        padding-top: 120px;
        margin-left:-100% ;
        transition: all .5s cubic-bezier(.52,0,0,.97);
        z-index: 25;
        padding-left: 50px;
    }
    .close{
        display: block;
        width: 25px;
        border: none;
        background-color: transparent;
		cursor: pointer;
    }
    .nav-link ul{
        flex-direction: column;
        margin-left: 0;
    }
    .nav-link ul li{
        margin: 15px 0;
    }
    .nav-link.active{
        margin: 0;
    }
    .logo-menu{
        display: block;
    }
	.sneakers{
		margin-left: 5vw;
	}
	
}
@media only screen and (min-width:1000px) {
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 20px;
    }
    .container-img{
        flex: none;

    }
    .container-img .slider{
        display: flex;
        overflow: hidden;
        max-width: 1000px ;
        max-width: 1000px;
        position: relative;
        border-radius: 10px;
    }
    .container-img .slider_img{
        display: none;
    }

    .img-small, .lightbox-show-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-img  .show-img , .lightbox-show-img {
        display: block;
    }
    .show-img img , .lightbox-show-img img{
        border-radius: 16px;
    }
    .container-img .img-small a , .light-box-img-small a{
        display: inline-block;
        margin: 0 20px;
        width: 65px ;
        height: 65px;
        flex: none;
        border: solid 2px transparent;
        transition: all .3s;
    }
    .container-img .img-small a.active , .light-box-img-small a.active{
        border: solid 4px hsl(26, 100%, 55%);
        border-radius: 10px;
    }
    .container-img .img-small a:hover , .light-box-img-small a:hover{
        transform: scale(1.2);
        opacity: .5;
    }
    .container-img .img-small img , .light-box-img-small img{
        border-radius: 10px;
    }
    .container-img .img-small a:first-child , .light-box-img-small a:first-child{
        margin-left: 0;
    }
    .container-img .img-small a:last-child , .light-box-img-small a:last-child{
        margin-right: 0;
    }
    .container-info{
        text-align: left;
    }
    .container-info .title{
        margin: 15px 0;
        font-size: 2.5rem;
        max-width: 400px;
    }
    .container-info .body{
        max-width: 400px;
        font-size: 1rem;
    }
    .conpteur{
        display: flex;
        justify-content: space-between;

    }
    .conpteur .add-btn-cart{
        width: 60%;
        margin-left: 15px ;
        flex: none;
       
    }
    .conpteur  .n{
        width: 35%;
        flex: none;
    }
    .total-price{
        margin-bottom: 25px;
    }

    .total-price .FalsePrice{
        display: block;
        float: none;
        margin-top: 10px ;
    }
	.cart-menu.active{
		width: 350px;
		right: 100px;
		min-height: 180px ;
	}
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }