* , *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
.header{
    padding: 0 15px;
    background-color: #fff;
    
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}
.logo-menu{
    display: none ;
    position: absolute;
    top: 18px;
    left: 30px;
    border: none;
    background-color: transparent;
    width: 30px;

}
.sneakers{
    position: absolute;
    left: 80px;
    top: 10px;
    font-weight: bold;
    font-size: 30px;
    
}
nav{
    border-bottom: solid 1px rgba(0, 0, 0, 0.436);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: #fff;
}
.nav-link{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.nav-link ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.nav-link ul li{
    margin: 0px 20px;
}
.nav-link ul li a{
    border-bottom: solid 1px transparent;
    transition: all .3s;
    font-size: 18px;
    font-weight: bold;
}
.nav-link ul li a:hover{
    border-color: orange;
}
.cart-pseudo{
    
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.cart-pseudo div{
    width: 30px;
}
.cart-pseudo button{
    width: 25px;
    background-color: transparent;
    border: none;
    margin-right: 20px;   
}
.close{
    position: absolute;
    top: 30px;
    left: 40px;
    display: none;

}
.n.active{
    z-index: 10;
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.461);
}


.slider{
    display: flex;
    overflow: hidden;
    max-width: 1000px ;
    max-width: 1000px;
    position: relative;
}
.slider_img{
    display: flex;
    overflow: hidden;
    max-width: 1000px ;
    max-width: 1000px;

}
.btn-slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:50px;
    padding: 5px ;
    border-radius: 50%;


}
.btn-slider button img{
     padding: 5px 8px;
}
.btn-slider .btn-next{
    right:  20px;
}
.btn-slider .btn-prev{
    left:  20px;
}

.img-small{
    display: none;
}
.container-info{
    padding: 50px 20px;
}
.nameCompany{
    font-size: 1.3rem;
    color: hsl(26, 100%, 55%);
}
.cart-menu{
    display: none;
}
.cart-menu.active{
    display: block;
    position: absolute;
    top: 70px;
    right: 100px;
    width: 350px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cart-menu .cart-menu-body {
    padding: 0 10px;
}
.cart-menu .cart-menu-title{
    padding-left:15px ;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cart-menu .cart-menu-title::after{
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
    margin-top: 20px;
}
.cart-menu li{
    position: relative;
    list-style-type:none ;
    margin-bottom: 10px ;

}
.cart-menu .cart-menu-img{
    position: absolute;
    width: 50px;
    top: 10px;
    left: 5px;
}
.cart-menu .cart-menu-img img{
    border-radius: 5px;
}
.cart-menu .cart-menu-desc{
    margin-left: 60px;
    padding-top: 8px ;
}
.cart-menu .cart-menu-desc h4{
    color: hsl(220, 14%, 75%);
}
.cart-menu  .btn-delete{
    width: 15px;
    position: absolute;
    right: 4px;
    background-color: transparent;
    top: 0px;
}

.cart-menu button{
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    padding: 10px 0;
    color: #fff;
}
.container-info .title{
    margin: 15px 0;
    font-size: 2.1rem;
    max-width: 400px;
}
.container-info .body{
    max-width: 350px;
    margin-bottom: 25px;
}
.total-price{
    width: 100%;
}
.total-price .price{
    font-size: 2.1rem;
    margin-right: 15px;
}
.total-price .reduct{
    font-size: 1.5rem;
    margin-right: 15px;
    background-color: hsl(25, 100%, 94%);
}
.total-price .FalsePrice{
    float: right ;
    font-size: 1.5rem;
    color: hsl(220, 14%, 75%);
    text-decoration:line-through;
}

.conpteur .nbr{
    position: relative;
    width: 100%;
}
.conpteur .nbr .number{
    width: 100%;
    padding: 30px 0 ;
    text-align: center;
    border: solid 1px rgba(204, 204, 215, 0.1);
    background-color:  rgba(204, 204, 215, 0.1);
    border-radius: 10px;
}
.conpteur .nbr button{
    position: absolute;
    width: 25px;
    background-color: transparent;
    border: none;
}
.btn-moins{
    top: 35px ;
    left: 18px;
}
.btn-plus{
    top: 30px ;
    right: 18px;
}
.conpteur  .add-btn-cart {
    width: 100%; 
    background-color: hsl(26, 100%, 55%);
    padding: 25px 0;
    border-radius: 10px;
    border: solid 1px hsl(26, 100%, 55%);
    color: #fff;
    font-size: 1.8rem;
}
.conpteur  .add-btn-cart img {
    width: 30px;
    display: inline-block;
    margin-right: 5px; 
}
.show-img{
    display: none;
}


@media only screen and (max-width:735px) {
    
    .nav-link{
        background-color: #fff;
        flex-direction: column;
        width: 60vw;
        height: 100vh;
        position: absolute;
        top: 0;
        align-items: normal;
        left: 0;
        padding-top: 120px;
        margin-left:-100% ;
        transition: all .3s cubic-bezier(.52,0,0,.97);
        z-index: 20;
        padding-left: 50px;
        

    }
    .close{
        display: block;
        width: 25px;
        border: none;
        background-color: transparent;
    }
    .nav-link ul{
        flex-direction: column;
        margin-left: 0;
    }
    .nav-link ul li{
        margin: 15px 0;
    }
    .nav-link.active{
        margin: 0;
    }
    .logo-menu{
        display: block;
    }
}
@media only screen and (min-width:1000px) {
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 20px;
    }
    .container-img{
        flex: none;

    }
    .slider{
        display: flex;
        overflow: hidden;
        max-width: 1000px ;
        max-width: 1000px;
        position: relative;
        border-radius: 10px;
    }
    .slider_img{
        display: none;
    }

    .img-small{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-img{
        display: block;
        width: 400px;
        height: 400px;
        margin-bottom: 25px;
    }
    .show-img img{
        border-radius: 16px;
    }
    .img-small a{
        display: inline-block;
        margin: 0 20px;
        width: 65px ;
        height: 65px;
        flex: none;
        border: solid 2px transparent;
    }
    .img-small a.active{
        border: solid 2px hsl(26, 100%, 55%);
        border-radius: 10px;
    }
    .img-small a:hover{
        opacity: .5;
    }
    .img-small img{
        border-radius: 10px;
    }
    .img-small a:first-child{
        margin-left: 0;
    }
    .img-small a:last-child{
        margin-right: 0;
    }
    .container-info{
        text-align: left;
    }
    .container-info .title{
        margin: 15px 0;
        font-size: 2.5rem;
        max-width: 400px;
    }
    .container-info .body{
        max-width: 400px;
        font-size: 1rem;
    }
    .conpteur{
        display: flex;
        justify-content: space-between;

    }
    .conpteur .add-btn-cart{
        width: 60%;
        margin-left: 15px ;
        flex: none;
       
    }
    .conpteur  .n{
        width: 35%;
        flex: none;
    }
    .total-price{
        margin-bottom: 25px;
    }

    .total-price .FalsePrice{
        display: block;
        float: none;
        margin-top: 10px ;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }